body
{
    margin: 0;
}

#bloc
{
    display: flex;
    flex-direction: column;
}

#bloc_restaurant
{
    display: flex;
    margin: auto;
    max-width: 880px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    height: 43.125em;
}

/* POLICE */ 

@font-face 
{
    font-family: 'metropolisbold';
    src: url('metropolis-bold-webfont.woff2') format('woff2'),
         url('metropolis-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'metropolisextra_light';
    src: url('metropolis-extralight-webfont.woff2') format('woff2'),
         url('metropolis-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'flow_extregular';
    src: url('flow-webfont.woff2') format('woff2'),
         url('flow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'flow_extbold';
    src: url('flow_b-webfont.woff2') format('woff2'),
         url('flow_b-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'devonshireregular';
    src: url('devonshire-regular-webfont.woff2') format('woff2'),
         url('devonshire-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'croissant_oneregular';
    src: url('croissantone-regular-webfont.woff2') format('woff2'),
         url('croissantone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'superclarendonregular';
    src: url('superclarendon_regular-webfont.woff2') format('woff2'),
         url('superclarendon_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'rujis_handwriting_font_v.2.Md';
    src: url('rujishandwritingfontv.2.0-webfont.woff2') format('woff2'),
         url('rujishandwritingfontv.2.0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'kaushan_scriptregular';
    src: url('kaushanscript-regular-webfont.woff2') format('woff2'),
         url('kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face 
{
    font-family: 'dancing_scriptregular';
    src: url('dancing_script-webfont.woff2') format('woff2'),
         url('dancing_script-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'arabic-font-2013bold';
    src: url('arabic-font-2013-webfont.woff2') format('woff2'),
         url('arabic-font-2013-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'pt_serifregular';
    src: url('ptf55f-webfont.woff2') format('woff2'),
         url('ptf55f-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'typo_comics_light_demoregular';
    src: url('typo_comics_light_demo-webfont.woff2') format('woff2'),
         url('typo_comics_light_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

    /* HEADER */
header h1
{
    font-family: 'metropolisbold', 'Arial', serif;
    font-size: 2.5em;
    margin-top: auto;
    margin-bottom: auto;
}

aside, footer
{
    font-family: 'metropolisextra_light', 'arial', serif;
}

    /* CARTE */
section a
{
    text-decoration: none;
}

    /* CARTE UN */
section i
{
    font-size: 2.5em;
}

#menu_un h2
{
    font-family: 'devonshireregular', Arial, serif;
    font-weight: normal;
    font-size: 1.5em;
    margin-top: 0px;
}

#menu_un h3
{
    font-family: 'flow_extbold', Arial, serif;
    font-size: 1.7em;
    margin-top: -15px;
}

    /* CARTE DEUX*/
#menu_deux h2
{
    font-family: 'croissant_oneregular', Arial, serif;
    font-weight: normal;
    font-size: 1.1em;
}

#menu_deux h3
{
    font-family: 'superclarendonregular';
    font-weight: normal;
    font-size: 1.7em;
    margin-top: -5px;
}

    /* CARTE TROIS */
#menu_trois h2
{
    font-family: 'dancing_scriptregular', Arial, serif;
    font-size: 1.5em;
    font-weight: normal;
}

#menu_trois h3
{
    font-family: 'rujis_handwriting_font_v.2.Md', Arial, serif;
    font-size: 1.9em;
    font-weight: normal;
    margin-top: -5px;
}

    /* CARTE QUATRE */
#menu_quatre h2
{
    font-family: 'kaushan_scriptregular', Arial, serif;
    font-weight: normal;
    font-size: 1.5em;
}

#menu_quatre h3
{
    font-family: 'rujis_handwriting_font_v.2.Md', Arial, serif;
    font-size: 1.9em;
    font-weight: normal;
    margin-top: -5px;
}

    /* MENU */
.arabicfont
{
    font-family: 'arabic-font-2013bold';
    font-size: 2.2em;
    color: rgb(53, 53, 53);
}    

/* COLOR */ 

header, header a, footer, footer a
{
    color: rgb(253, 203, 70);
    background-color: rgb(87, 156, 135);
    text-decoration: none;
}

.restaurant, .menu_carte
{
    box-shadow: 0 0 10px rgb(160, 159, 159);
}

#menu_un
{
    background-color: rgb(252, 223, 219);
    color: rgb(60, 18, 24);
}

#menu_un h2, #menu_un h3
{
    color: rgb(60, 18, 24);
}

#menu_deux
{
    background-color: rgb(255, 245, 254);
}

#menu_deux h3
{
    color: rgb(199, 116, 18);
}

#menu_trois
{
    background-color: rgb(249, 249 ,249);
}

#menu_trois h3
{
    color: rgb(8, 135, 251);
}

#menu_quatre
{
    background-color: rgb(253, 255 ,253);
}

#menu_quatre h3
{
    color: rgb(114, 191, 86);
}

/* HEADER */

header
{
    text-align: center;
    width: 100%;
    height: 55px;
}

/* SECTION */

.restaurant
{
    width: 250px;
    height: 300px;
    text-align: center;
    margin: 2.5%;
}

.restaurant i
{
    margin-top: 45%;
}

.middle
{
    margin-top: 30%;
}

.zoom
{
    height: 100%;
}

.lien_carte
{
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
}

#menu_un i
{
    background: linear-gradient(to right, rgb(240, 74, 94), rgb(248, 161, 131));
    color:transparent;
    -webkit-background-clip: text;
    font-size: 2.5em;
}

#menu_deux h2
{
    background: linear-gradient(to right, rgb(216, 133, 46), rgb(144, 91, 253));
    color: transparent;
    -webkit-background-clip: text;
    margin-top: 50%;
}

#menu_trois h2
{
    background: linear-gradient(to right, rgb(4, 49, 223), rgb(8, 135, 251));
    color: transparent;
    -webkit-background-clip: text;
    margin-top: 40%;
}

#menu_quatre h2
{
    background: linear-gradient(to right, rgb(66, 151, 60), rgb(191, 255, 126));
    color: transparent;
    -webkit-background-clip: text;
    margin-top: 40%;
}

.zoom
{
    cursor: pointer;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 1000ms;
}

.zoom:hover
{
    transform: scale(1.15);
    opacity: 0.5;
}

/* ASIDE */

aside h4
{
    font-size: 1.5em;
    color: rgb(253, 203, 70);
    font-weight: normal;
    margin-top: auto;
    margin-bottom: auto;
}

#prochainement
{
    background-color: rgb(87, 156, 135);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    display: flex;
    height: 40px;
    justify-content: center;
}

aside
{
    padding-bottom: 100px;
    height: 0px;  
}

#suspension
{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 15px;
}

#bouton_un, #bouton_deux, #bouton_trois
{
    background-color: rgb(253, 203, 70);
    width: 5px;
    height: 5px;
    margin: 3px;
    border-radius: 50%;
    display: flex;
    animation: bouton 2000ms ease-in-out both alternate infinite;
    transform-origin: bottom;
}

#bouton_un
{
    animation-delay: 0.5s;
}

#bouton_deux
{
    animation-delay: 1s;
}

#bouton_trois
{
    animation-delay: 1.5s;
}

@keyframes bouton
{
    to{
        opacity: 0;
        transform: scale(0);
    }
    
    from{
        opacity: 1;
        transform: scale(1);
    }
}

/* FOOTER */

footer
{
    display: flex;
    justify-content:space-between;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 55px;
}

footer a
{
    text-decoration: none;    
}

footer h2
{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: auto;
    margin-bottom: auto;
}

footer h2:hover
{
    animation: wiggle 0.5s;
    animation-iteration-count: infinite;
}

@keyframes wiggle 
{
    0% {transform:translate(1px, 1px) rotate(0deg);}
    10% {transform:translate(-1px, -2px) rotate(-1deg);}
    20% {transform:translate(-3px, 0px) rotate(1deg);}
    30% {transform:translate(3px, 2px) rotate(0deg);}
    40% {transform:translate(1px, -1px) rotate(1deg);}
    50% {transform:translate(-1px, 2px) rotate(-1deg);}
    60% {transform:translate(-3px, 1px) rotate(0deg);}
    70% {transform:translate(3px, 1px) rotate(-1deg);}
    80% {transform:translate(-1px, -1px) rotate(1deg);}
    90% {transform:translate(1px, 2px) rotate(0deg);}
    100% {transform:translate(1px, -2px) rotate(-1deg);}
}

/* MENU CARTE */

.menu_section h2
{
    text-align: center;
    height: 75px;
    margin-top: auto;
    margin-bottom: auto;
}

.menu_carte
{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 150px;
}

.menu_carte h3
{
    margin-top: 0.5em;
    color: rgb(61, 19, 25);
    font-size: 2em;
    text-align: center;
}

.menu_carte h3:nth-child(2)
{
    font-family: 'devonshireregular', Arial, serif; 
    font-weight: normal;
    font-size: 2.5em;
}

.titre_menu
{
    display: flex;
    width: 90%;
    margin-top: 10%;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

.trait
{
    width: 30%;
}

.menu_carte h4
{
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(61, 19, 25);
    font-family: 'flow_extbold', arial, serif;
}

.categorie
{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.2em;
}

.menu_carte ul
{
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    width: 83%;
    font-family: 'flow_extbold', Arial, serif;
    padding-left: 0;
}

.menu_carte li
{
    margin: 10px 0px;
    color: rgb(61, 19, 25);
}

.underline
{
    height: 2px;
    width: 0px;
    transition: 1s;
}

.categorie:hover .underline
{
    width: 100%;
}

#menu_section_un .underline
{
    background-color: rgb(60, 18, 24);
}

.prix
{
    font-weight: bold;
}

    /* CARTE UN */
#menu_carte_un
{
    background-color: rgb(252, 223, 219);
}

.note
{
    text-align: center;
    padding-top: 50px;
}

#note_un
{
    font-size: 4em;
    width: 65px;
    margin-top: 3%;
}

.note_bas
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 50px;
    font-size: 0.9em;
}

.note_bas p:nth-child(1)
{
    font-size: 1.5em;
}

.note_bas p:nth-child(2)
{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2.5em;
    margin-left: 2%;
    color: rgb(60, 18, 24);
}

#fontsdevon
{
    font-family: 'devonshireregular', Arial, serif;
    font-weight: normal;
}

#menu_carte_un i
{
    background: linear-gradient(to right, rgb(240, 74, 94), rgb(248, 161, 131));
    color:transparent;
    -webkit-background-clip: text; 
}

    /* CARTE DEUX */
#croissant_oneregular
{
    font-family: 'croissant_oneregular', Arial, serif;
    background: linear-gradient(to right, rgb(216, 133, 46), rgb(144, 91, 253));
    color: transparent;
    -webkit-background-clip: text;
    font-size: 2em;
    width: 368px;
    margin: auto;
}

#menu_carte_deux
{
    background-color: rgb(255, 245, 254);
    padding-bottom: 50px;
    padding-top: 50px;
}

#menu_carte_deux .orange
{
    color: rgb(198, 116, 18);
}

#menu_carte_deux .rose
{
    color: rgb(165, 103, 153);
}

#menu_carte_deux .violet
{
    color: rgb(110, 76, 204);
}

#menu_carte_deux h4, #menu_carte_deux li
{
    font-family: 'pt_serifregular', arial, serif;
}

#underline_deux_orange
{
    background-color: rgb(198, 116, 18);
}

#underline_deux_rose
{
    background-color: rgb(165, 103, 153);
}

#underline_deux_violet
{
    background-color: rgb(110, 76, 204);
}

    /* CARTE TROIS */
#menu_carte_trois h3
{
    font-family: 'dancing_scriptregular', Arial, serif;
    background: linear-gradient(to right, rgb(4, 49, 223), rgb(8, 135, 251));
    color: transparent;
    -webkit-background-clip: text;
    font-size: 2.5em;
    font-weight: bold;
    width: 350px;
    margin: auto;
}

#menu_carte_trois h4, #menu_carte_trois li
{
    font-family: 'typo_comics_light_demoregular', Arial, serif;
    font-weight: normal;
}

#menu_carte_trois
{
    background-color: rgb(237, 239, 239);
    padding-top: 20px;
    padding-bottom: 20px;
}

#underline_trois_un
{
    background-color: rgb(2, 40, 221);
}

#underline_trois_deux
{
    background-color: rgb(6, 112, 243);
}

#underline_trois_trois
{
    background-color: rgb(34, 157, 249);
}

    /* CARTE QUATRE */
#menu_carte_quatre h3
{
    font-family: 'kaushan_scriptregular', Arial, serif;
    background: linear-gradient(to right, rgb(66, 151, 60), rgb(191, 255, 126));
    color: transparent;
    -webkit-background-clip: text;
    font-size:2.5em;
    width: 300px;
    margin: auto;
}

#menu_carte_quatre
{
    background-color: rgb(253, 255, 253);
    padding-top: 20px;
    padding-bottom: 20px;
}

#menu_carte_quatre h4, #menu_carte_quatre li
{
    font-family: 'typo_comics_light_demoregular', Arial, serif;
    font-weight: normal;
    color: black;
}

#menu_section_quatre .underline
{
    background-color: rgb(178, 244, 120);
}


/* MENTIONS LEGALES */

#mentions_legales
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(87, 156, 135);
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
}

#mentions_legales h1
{
    text-align: center;
    font-size: 2em;
    color: rgb(253, 203, 70);
    text-decoration: underline;
}

#mentions_legales p, #mentions_legales h3
{
    text-align: center;
}

/* MEDIA QUERRIES */

@media screen and (min-width:1620px)
{
    .arabicfont
    {
        font-size: 3em;
        padding-bottom: 30px;
    }
    
    #croissant_oneregular
    {
        font-size: 3em;
    }
    
    #menu_carte_trois h3, #menu_carte_quatre h3
    {
        font-size: 4em;
    }
    
    #note_un
    {
        font-size: 7em;
        width: auto;
    }
    
    .menu_carte h3
    {
        font-size: 3em;
    }
    
    .menu_carte h3:nth-child(2)
    {
        font-size: 4.5em;
    }
    
    .menu_carte h4
    {
        font-size: 1.5em;
    }
    
    .menu_carte li
    {
        font-size: 1.4em;
    }
    
    .note_bas
    {
        font-size: 1.2em;
    }
    
    #mentions_legales
    {
        font-size: 1.6em;
    }
    
    aside
    {
        margin-top: 1%;
    }
    
    #bloc_restaurant
    {
        margin-top: 3%;
    }
}

@media screen and (min-width:2560px)
{
    .restaurant
    {
        height: 30em;
        width: 25em;
    }
    
    #bloc_restaurant
    {
        max-width: 35%;
        height: 70em;
    }
    
    header 
    {
        height: 5em;
    }
    
    header h1
    {
        font-size: 3.5em;
    }
    
    footer
    {
        height: 5em;
    }
    
    footer h2
    {
        font-size: 2em;
    }
    
    aside h4
    {
        font-size: 2.5em;
    }
    
    #prochainement
    {
        width: 15%;
        height: 60px
    }
    
    #suspension
    {
        margin-bottom: 12px;
    }
    
    #menu_un i
    {
        font-size: 5em;
    }
    
    #menu_un h2, #menu_trois h2, #menu_quatre h2
    {
        font-size: 3em
    }
    
    #menu_deux h2
    {
        font-size: 2em;
    }
    
    #menu_un h3, #menu_deux h3, #menu_trois h3, #menu_quatre h3
    {
        font-size: 3em;
    }
    
    #menu_un h3
    {
        margin-top: -0.8em;
    }
}

@media screen and (min-width:1024px)
{
    .categorie
    {
        font-size: 1.5em;
    }
    
    .menu_carte ul
    {
        font-size: 1.2em;
        width: 80%
    }
}

@media screen and (min-width:769px)
{
    .prix
    {
        float: right;
    }
    
    .prix br
    {
        display: none;
    }
}

@media screen and (max-width:768px)
{
    .menu_carte h3:nth-child(2)
    {
        font-size: 2em;
    }
    
    #croissant_oneregular
    {
        font-size: 1.8em;
    }
    
    #menu_carte_trois h3
    {
        font-size: 2.2em;
    }
    
    #note_un
    {
        font-size: 3.5em;
    }
    
    .menu_carte ul
    {
        text-align: center;
        width: 95%;
    }
    
    .titre_menu
    {
        flex-direction: column;
    }
    
    .trait
    {
        margin-left: auto;
        margin-right: auto;
    }
    
    #menu_carte_un li
    {
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .underline
    {
    height: 2px;
    width: 0px;
    transition: 1s;
    }

.categorie:hover .underline
    
    {
    width: 100%;
    }
    
    .categorie
    {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
    
    #menu_carte_un h4
    {
        width: 100%;
    }
}

@media screen and (max-width:555px)
{
    #croissant_oneregular
    {
        font-size: 1.5em;
        width: 95%;
    }
    
    #bloc_restaurant
    {
        height: auto;
    }  
    
    footer
    {
        font-size: 0.7em;
    }
    
    #menu_carte_deux
    {
        padding-top: 20px;
    }
    
    #menu_carte_un .note_bas
    {
        flex-direction: column;
        text-align: center;
    }
    
    aside h4
    {
        font-size: 1.4em;
    }
    
    #prochainement
    {
        width: 250px;
    }
}

@media screen and (max-width:425px)
{
    #menu_carte_deux
    {
        padding-top: 20px;
    }
    
    #menu_carte_un .note_bas
    {
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width:375px)
{
    #menu_carte_deux h3
    {
        font-size: 1.5em;
    }
    
    #menu_carte_trois h3, #menu_carte_quatre h3
    {
        font-size: 1.8em;
        width: 100%;
    }
    
    .menu_carte ul
    {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
    
    .arabicfont
    {
        font-size: 1.7em;
        text-align:center;
        height: 100%;
    }
    
}